body {
  min-height: 120vh;
}
header {
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  height: 80px;
  transition: background-color 0.2s linear, height 0.4s;
}
header.colored {
  background-color: hsl(221deg 16% 48%);
  height: 50px;
}
header > .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.menu__desktop ul {
  display: flex;
}
.menu__mobile {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
}
