/*====================
    Basic Style
=====================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}
button {
  cursor: pointer;
  background-color: inherit;
}
button,
button:focus,
button:active,
input,
input:focus,
input:active,
textarea,
textarea:focus,
textarea:active {
  outline: none;
  border: none;
  font-family: inherit;
}
span.hide {
  display: inline-block;
  height: 1px;
  width: 1px;
  overflow: hidden;
  color: transparent;
}

.inner {
  max-width: 1400px;
  width: 90%;
  margin: auto;
}
.show-md {
  display: none;
}

/* Medium Devices */
@media only screen and (max-width: 1023px) {
  .show-md {
    display: initial;
  }
  .hide-md {
    display: none;
  }
}
